@import './../../colors.less';

.content-month-component {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .day-row {
    width: 100%;
    height: 24px;
    border-bottom: 1px solid @color-grey;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background-color: @color-background-grey-light;

    .day-column {
      width: 14.285%;
      height: 100%;
      border-right: 1px solid @color-grey;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .day-column:last-child {
      border-width: 0;
    }
  }

  .month-row {
    height: 15%;
    border-bottom: 1px solid @color-grey;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    .month-column {
      width: 14.285%;
      height: 100%;
      border-right: 1px solid @color-grey;
      overflow: hidden;

      .month-item {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &.disabled {
          color: @color-grey;
          pointer-events: none;
        }

        &.active {
          background-color: @color-primary;
          color: @color-white;
        }
      }

      .month-item:hover {
        background-color: @color-background-grey-light;
      }
    }

    .month-column:last-child {
      border-width: 0;
    }
  }

  .month-row:last-child {
    border-width: 0;
  }

  .highlighted {
    background-color: @color-primary-strong;
    color: @color-white;
    width: 26px;
    height: 23px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
  }
}
