@import './../../colors.less';

.content-year-component {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .year-row {
    height: 16.4%;
    border-bottom: 1px solid @color-grey;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    .year-column {
      width: 14.285%;
      height: 100%;
      border-right: 1px solid @color-grey;
      overflow: hidden;

      .year-item {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &.active {
          background-color: @color-primary;
          color: @color-white;
        }
      }

      .year-item:hover {
        background-color: @color-background-grey-light;
      }
    }

    .year-column:last-child {
      border-width: 0;
    }
  }

  .highlighted {
    background-color: @color-primary-strong;
    color: @color-white;
    width: 40px;
    height: 24px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
  }
}
