@import './../../colors.less';

.content-scale-component {
  @timeColumnWidth: 41px;

  width: 100%;
  display: flex;
  flex-direction: row;

  .time-column {
    width: @timeColumnWidth;
  }

  .event-column {
    width:~'calc(100% - @{timeColumnWidth} - 2px)';
    display: flex;
    flex-direction: row;

    .scale-day {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .scale-week {
      width: 100%;
      display: flex;
      flex-direction: row;

      .scale-week-item {
        width: 15%;
        display: flex;
        justify-content: center;
      }
    }

    .scale-month {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .scale-year {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
}