@import './../../colors.less';

.content-day-component {
  @timeColumnWidth: 50px;
  @rowHeight: 43px;

  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  font-size: 12px;

  .time-column {
    width: @timeColumnWidth;
    height: 100%;
    cursor: pointer;

    .time-slot {
      height: @rowHeight;
      border-bottom: 1px solid @color-grey;
      border-right: 1px solid @color-grey;
      display: flex;
      align-items: center;
      justify-content: center;
      color: @color-grey;
    }

    .time-slot:last-child {
      border-bottom-width: 0;
    }
  }

  .event-column {
    width:~'calc(100% - @{timeColumnWidth})';
    cursor: pointer;

    .event-slot {
      height: @rowHeight;
      border-bottom: 1px solid @color-grey;
      display: flex;
      flex-direction: row;

      .event-item {
        position: relative;
        color: @color-white;
        cursor: pointer;
        word-break: normal;
        font-size: 10px;
        overflow: hidden;
        border-right: 1px solid @color-white;

        .content {
          position: relative;
          top: -1px;
          left: 2px;
        }
      }

      .event-item:hover {
        z-index: 100;
        opacity: 0.8;
      }

      .event-item:last-child {
        border-right-width: 0;
      }
    }

    .event-slot:last-child {
      border-bottom-width: 0;
    }
  }
}