@import './../../colors.less';

.content-week-component {
  @timeColumnWidth: 50px;
  @rowHeight: 43px;

  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  font-size: 12px;

  .time-column {
    width: @timeColumnWidth;
    height: 100%;

    .time-slot {
      height: @rowHeight;
      border-bottom: 1px solid @color-grey;
      border-right: 1px solid @color-grey;
      display: flex;
      align-items: center;
      justify-content: center;
      color: @color-grey;
    }

    .time-slot:last-child {
      border-bottom-width: 0;
    }
  }

  .event-column {
    width:~'calc(100% - @{timeColumnWidth})';

    .event-slot {
      height: @rowHeight;
      border-bottom: 1px solid @color-grey;
      display: flex;
      flex-direction: row;

      .event-slot-item {
        width: 14.285%;
        height: 100%;
        border-right: 1px solid @color-grey;
        overflow-y: auto;

        &.active {
          background-color: @color-background-grey-very-light;
          color: @color-white;
        }

        .event-item {
          position: relative;
          color: @color-white;
          cursor: pointer;
          word-break: normal;
          font-size: 10px;
          overflow: hidden;
          height: 15px;
          border-bottom: 1px solid @color-white;

          .content {
            position: relative;
            top: -2px;
            left: 2px;
          }
        }

        .event-item:hover {
          z-index: 100;
          opacity: 0.8;
        }

        .event-item:last-child {
          border-bottom-width: 0;
        }
      }

      .event-slot-item:last-child {
        border-right-width: 0;
      }

      .event-slot-item:hover {
        height: 100%;
        overflow: unset;
      }

      .week-column:last-child {
        border-width: 0;
      }
    }

    .event-slot:last-child {
      border-bottom-width: 0;
    }
  }
}