@import './../../colors.less';

.content-component {
  .content-scale {
    background-color: @color-primary;
    color: @color-white !important;
    border: 1px solid @color-grey;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 4px;
    width: ~'calc(100% - 10px)';
  }

  .content-event-grid {
    width: ~'calc(100% - 2px)';
    height: 100%;
    border: 1px solid @color-grey;
    border-radius: 4px;
    border-top-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
