@color-primary: #1976d2;
@color-primary-light: #4691db;
@color-secondary: rgb(220, 0, 78);
@color-white: #ffffff;
@color-black: #000000;
@color-green: #3d9f43;
@color-grey: rgba(0, 0, 0, 0.27);

@color-text-secondary: rgba(0, 0, 0, 0.54);
@color-text-secondary-light: rgba(0, 0, 0, 0.27);

@color-box-shadow-light: rgba(0, 0, 0, 0.27);

@color-hover: rgba(0, 0, 0, 0.1);

@color-background-grey-light: rgba(0, 0, 0, 0.15);