.header-component {
  width: 100%;
  margin-bottom: 4px;

  .header-title-wrapper {
    width: 100%;
  }

  .header-actions-wrapper {
    width: 100%;
  }

  .header-long-lasting-wrapper {
    width: 100%;
  }
}