.header-action-component {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
  overflow: hidden;

  .date-wrapper {
    width: 250px;
    text-align: center;
    font-size: 16px;
  }
}
