@import './../../colors.less';

.header-long-lasting-component {
  height: 66px;
  border: 1px solid @color-primary;
  border-radius: 4px;
  overflow-y: auto;

  .header-long-lasting-items {
    width: 100%;
    height: 100%;

    .long-scaled-item {
      height: 15px;
      display: flex;
      align-items: center;
      padding-left: 4px;
      cursor: pointer;
      color: @color-white;
      font-size: 10px;
      margin-bottom: 2px;
    }

    .long-scaled-item:hover {
      opacity: 0.75;
    }

    .long-scaled-item:last-child {
      margin-bottom: 0;
    }
  }

  .MuiAlert-root {
    padding: 15px;
  }
}