.header-action-btn-group-component {
  .MuiButtonGroup-root {
    .MuiButtonBase-root {
      width: 88px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
