@import './../../colors.less';

.header-title-component {
  background-color: @color-primary;
  border: 1px solid @color-primary;
  color: @color-white;
  display: flex;
  justify-content: center;
  margin-bottom: 4px;
  border-radius: 4px;
}