@import './../../colors.less';

.MuiDialog-root {
  .input-section {
    margin-bottom: 4px;

    input {
      width: 60px;
      margin-right: 8px;
    }

    input:last-child {
      margin-right: 0;
    }
  }

  .input-section-title {
    .MuiFormControl-root {
      width: 100%;
    }
  }

  .MuiPaper-root {
    overflow-y: auto;
  }
}

.event-dialog-content-wrapper {
  margin: 8px;
}

.event-dialog-action-wrapper {
  margin: 0 8px 8px;
}