@import "./../../colors.less";

.dialog-component-content {
  font-family: "Roboto" !important;

  .MuiFormControl-root {
    width: 100%;
    margin-bottom: 8px;

    input {
      font-size: 14px;
    }
  }

  .MuiAccordionSummary-root {
    color: @color-text-secondary;

    &.read-only {
      color: @color-text-secondary-light;
    }
  }

  .MuiAccordionDetails-root {
    display: flex;
    justify-content: center;
    flex-direction: column;

    textarea {
      font-size: 12px;
    }
  }

  .MuiFormControlLabel-label {
    font-size: 14px;
  }

  .content-color-picker {
    flex-direction: unset;
  }
}

.event-dialog-content-wrapper {
  width: 368px;
}