@import './../../colors.less';

.dialog-component-header {
    font-family: 'Roboto' !important;
    font-size: 14px;
    background-color: @color-primary;
    color: @color-white;
    padding: 4px 8px;
    display: flex;
    justify-content: center;
}