@import "./../../colors.less";

.event-dialog-action-component {
  font-family: "Roboto" !important;
  font-size: 12px;
  color: @color-white;

  .create,
  .update {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .dialog-btn-delete {
    margin-right: auto;
  }
}